{% load staticfiles %}

{#<footer class="footer" style="padding-bottom: 50px; padding-top: 15px">#}
{#    <div class="footemail">#}
{#        <p>#}
{#            Riviera Bonoumin - Tél: (+ 225) 02 11 13 66 - 08 40 63 61#}
{#        </p>#}
{#        <p>#}
{#            E-mail: geniusgeekgroup@gmail.com.net - infos@geekgroup.net#}
{#        </p>#}

        <div style="margin-left: 0; margin-top: -15px; margin-right: 0; background-color: #23272b; text-align: center">
            <br>
            <a href="https://www.facebook.com/geniusgeekgroup/" style="padding-left: -50px">
                <i class="fa fa-facebook-official" style="font-size:48px;color:lightgreen"></i>
            </a>
{#            <a href="#">#}
{#                <i class="fa fa-google-plus-official" style="font-size:48px;color:lightgreen"></i>#}
{#            </a>#}
{#            <a href="https://geniusgeekgroup.slack.com/messages">#}
{#                <i class="fa fa-slack" style="font-size:48px;color:lightgreen"></i>#}
{#            </a>#}
            <a href="https://www.instagram.com/geniusgeekgroup/">
                <i class="fa fa-instagram" style="font-size:48px;color:lightgreen"></i>
            </a>
            <a href="https://github.com/geniusgeekgroup">
                <i class="fa fa-github" style="font-size:48px;color:lightgreen"></i>
            </a>
            <a href="https://twitter.com/geniusgeekgroup">
                <i class="fa fa-twitter" style="font-size:48px;color:lightgreen"></i>
            </a>
{#            <a href="#">#}
{#                <i class="fa fa-linkedin" style="font-size:48px;color:lightgreen"></i>#}
{#            </a>#}

            <img src="{% static "images/logogeek.png" %}" style="width: 80px; margin-left: 1280px; margin-top: -35px">
        </div>
{#    <div class="imgicon">#}
{#        <img src="{% static "images/logogeek.png" %}" style="width: 100px;">#}
{#    </div>#}
{##}
{#</footer>#}