<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand fa fa-home" href="{% url 'home' %}" style="color: #4CAF50">|| - GENIUS GEEK GROUP - || </a>

    <div style="padding-right: 400px; padding-left: 400px">
{#         <button class="btn btn-lg btn-danger btn-block" type="submit"> Déconnexion </button>#}
        <a class="dropdown-item fa fa-sign-out bg-danger" style="border-radius: 15px; font-weight: bold" href="{% url 'home' %}"> Déconnexion </a>
    </div>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav mr-auto">

            </ul>
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>

    </div>
</nav>

