{% load staticfiles %}

<!-- Bootstrap core CSS -->
<link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">
{#<link href="{% static "css/bootstrap.min1.css" %}" rel="stylesheet">#}
<link href="{% static "css/header.css" %}" rel="stylesheet">
<link href="{% static "css/footer.css" %}" rel="stylesheet">
<link href="{% static "css/font-awesome.min.css" %}" rel="stylesheet">

<!-- Custom styles for this template -->
<link href="{% static "css/jumbotron.css" %}" rel="stylesheet">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

