.footer {
    background-color: #23272b;
    color: #73c421;
    /*padding-bottom: 70px;*/
}

.footemail {
    margin-left: 50px;
    font-size: 20px;
}

.imgicon {
    margin-left: 1400px;
    margin-top: -150px;
    padding-top: 1px;
    padding-right: -200px;
    padding-bottom: -450px;
}
.sociaux{
    border: 1px solid red;
    margin-left: 100px;
    margin-bottom: -100px;
    padding-left: -150px;
}

