{% load staticfiles %}

    <link rel="icon" href="{% static "images/geekicone.png" %}">

    <title> Genius Geek Groups </title>

    <!-- Bootstrap core CSS -->
   {% include "layouts/_liencss.html" %}

{% include "layouts/_header.html" %}
{#<br>#}
{% include "layouts/_barehead1.html" %}
<br> <br><br> <br> <br> <br> <br> <br> <br> <br>
     <p style="text-align: center; font-size: 35px">
         Page <b> Automatisation des Taches </b> en Construction ...
     </p>
 <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br>
{% include "layouts/_footer.html" %}

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
{% include "layouts/_lienjs.html" %}
